<header class="app-header" [style.position]="(sticky$ | async)
  ? 'fixed'
  : 'inherit'" [class.mat-elevation-z4]="(sticky$ | async)">
  <mat-toolbar class="app-toolbar" color="primary">
    <button mat-icon-button class="fit" (click)="onNavClick()">
      <fa-icon icon="bars"></fa-icon>
    </button>
    <a routerLink="" class="branding">
      <img class="logo" [src]="logo" [alt]="logo"/>
    </a>
    <span routerLink="" class="title spacer">
      {{ 'anms.title.short' | translate }}
    </span>
    <button mat-button mat-stroked-button color="accent"
    *ngIf="!(isAuthenticated$ | async)" (click)="onLoginClick()">
      {{ 'anms.menu.login' | translate }}
    </button>
    <button *ngIf="(isAuthenticated$ | async)"
      mat-icon-button
      [matMenuTriggerFor]="toolbarUserMenu">
      <fa-icon icon="user-circle"></fa-icon>
    </button>
    <mat-menu #toolbarUserMenu="matMenu">
      <button mat-menu-item (click)="onLogoutClick()">
        <mat-icon><fa-icon icon="power-off"></fa-icon></mat-icon>
        <span>{{ 'anms.menu.logout' | translate }}</span>
      </button>
    </mat-menu>
    <button mat-icon-button class="d-none d-sm-inline">
      <fa-icon icon="ellipsis-v"></fa-icon>
    </button>
  </mat-toolbar>
</header>
